body {
    background-color: rgb(34, 43, 48);
}

.title{
    color: rgb(168, 130, 83);
}

.DOM{
    color: bisque;
}

.parrafo{
    color: blanchedalmond;
    background-color: rgba(250, 86, 86, 0.288);
}

.inputt{
    background-color: aqua;
}

#result {
    background-color: aquamarine;
}